.patientRecord-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .no-padding {
  padding: 0 !important;
}
html,
body,
.container {
  height: 100%;
}*/
.patient-info {
  text-align: center;
}
.patient-full-info {
  text-align: left;
  padding-top: 20px;
}
.patient-full-info p {
  margin: 0.5em 0;
  padding-left: 30px;
}
